*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
       height: 100vh;
   }
   nav.menu_Lateral{
       width: 70px;
       height:100%;
       background-color: white;
       padding-top: 50px;      
       box-shadow: 1px 0 0 black;
       position: fixed;
       top: 0;
       left: 0;
       overflow: hidden;
       transition: .5s;
       color: #090C53;
   }
   nav.menu_Lateral:hover{
       width: 300px;
   }
   .btn_expandir{
       width: 100%;
       padding-left: 10px;
   }
   .btn_expandir > i{
       color: black;
       font-size: 24px;
       cursor: pointer;
   }
   ul{
       height: 100%;
       list-style-type: none;
   
   }
   ul li.item_menu{
       transition: .5s;
   }
   ul li.ativo{
       background-color:#D1D5F5;
       margin-left: 0px;
       
   }
   ul li.item_menu:hover{
       background-color:#D1D5F5;
   
   
   }
   ul li.item_menu a{
       color:black;
       text-decoration: none;
       font-size: 20px;
       padding: 20px 4%;
       display: flex;
       margin-bottom: 20px;
       line-height: 40px;
   
       
   }
   nav.menu_Lateral:hover .txt-link{
       margin-left: 40px;
   }
   
   ul li.item_menu a .txt-link{
       margin-left: 70px;
       transition: .5s;
   }
   ul li.item_menu a .icon > i{
       font-size: 30px;
       margin-left: 10px;
   }